body{
    background: rgb(0, 255, 179);
    max-width: 320px;
    margin: 0px;
}

header{
    background: linear-gradient(rgb(0, 255, 179), black);
    font-size: 24px;
    color: white;
    text-align: center;
}

li{
    color: black;
    font-size: 30px;
    font-weight: 600;
}

.checked{
    text-decoration: line-through;
}

.float-right{
    float: right;
}

li button{
    margin-right: 10px;
}

#form{
    margin: auto;
    width: 250px;
}